body {
    background: #b4b9d5;
      display: flex;
      justify-content: center;
  }
  
  .wrapper {
      max-width: 800px;
      margin: 40px;
      width: 100%;
  }
  
  .container {
      background: #fff;
      padding: 20px;
  }